; ---------------------------------------------------------------------------------
; CAN Communications Link

[CANComms]
TransportType=CAN
TransportOptions=CANCommsOptions

[CANCommsOptions]
; Baud Rate to use, where 0 = 1 Mbit/s,
; 1=800Kbit/s, 2=500Kbit/s, 3=250Kbit/s, 4=125Kbit/s, 5=50Kbit/s,6=20Kbit/s, 7=10Kbit/s
baudrate=0
; Timeout in milliseconds before a communications error is reported.
timeout=100
; hwid can be used to select a specific IXXAT adapter when there is more than one adapter connected.
; If 'hwid' is not specified (e.g. commented out as below), the first IXAAT adapter found will be used.
; hwid=HWnnnnnn
