; ---------------------------------------------------------------------------------
; XAxis

[XAxis_Device]
Type=AxisDevice
ProductType=
DefaultTimeout_ms=45000
MaxTimeout_ms=120000
NamedPositions=XAxisNamedPositions
NamedDistances=XAxisNamedDistances
NamedMoveProfiles=XAxisHomingProfile,XAxisStandardMoveProfile
NamedFlags=XAxisNamedFlags
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDriver

; -----------------------------------------
; XAxis Named Absolute Positions

[XAxisNamedPositions]
; These named positions are for a 100mm stage with home in the center.
;
; For a StepperMotor Stage with 25mm length:
;   NegativeLimit=0
;   PositiveLimit=25
Home=0
NegativeLimit=-50
PositiveLimit=50

; -----------------------------------------
; XAxis Named Relative Distances

[XAxisNamedDistances]
; These named positions are for a 100mm stage.

; Used during homing to ensure center flag is always approached from the same direction.
MoveToCenterOffset=-10

; For a StepperMotor Stage with 25mm length:
;   MaxPositiveHomingDistance=30
;   MaxNegativeHomingDistance=-30
MaxPositiveHomingDistance=102
MaxNegativeHomingDistance=-102

; -----------------------------------------
; XAxis Move Profiles

[XAxisHomingProfile]
Velocity=5
Acceleration=200
Deceleration=200
Jerk=25000

[XAxisStandardMoveProfile]
Velocity=100
Acceleration=400
Deceleration=400
Jerk=50000

; -----------------------------------------
; XAxis Flag Settings

[XAxisNamedFlags]
NegativeLimit=0
NegativeHalf=1
PositiveHalf=2
PositiveLimit=3
EncoderIndex=4

; -----------------------------------------
; XAxis Driver Settings

[XAxisDriver]
; Selects the communications mechanism: SerialComms or CANComms.
Comms=SerialComms
; Unique Multidrop address for this axis (e.g. 1=XAxis, 2=YAxis, 3=ZAxis,...). Do not use a nodeID of zero as this will address all devices on the CAN bus.
nodeID=3
Type=SmartStageAxisDriver
Config=XAxisDriverConfig
FlagSignals=XAxisFlagSignals

; -----------------------------------------
; XAxis Low level Settings

[XAxisDriverConfig]
; For a StepperMotor Stage with 200steps/rev, 256 microsteps/step, 1mm lead
;    NanoMetersPerStep=1mm * 10^6nm/mm / (200steps/rev * 256microsteps/step)
;    NanoMetersPerStep=19.531
NanoMetersPerStep=5

; Leg Current conversion depends on the DMCM Low, Medium or High current setting.
; Low = 0.18577, Med = 0.357947, High = 0.543549
LegCurrentMilliampsPerCount=0.18577
BusCurrentMilliampsPerCount=0.0775
BusVoltageMillivoltsPerCount=0.9672

; Stepper Motor Specific Configuration
StepperMilliampsPerCount=0.366435
StepperHoldingCurrentMilliamps=500
StepperMotorCommandCurrentMilliamps=1000

GpioConfiguration=PMDGpioConfiguration::DISABLED
EStopPeriodicIntervalInMs=50
EStopTimeoutInMs=250
MovePeriodicIntervalInMs=25
IdlePeriodicIntervalInMs=250
StopTimeoutInMs=5000
; Polling period to use for digital inputs when async updates are enabled.
DigitalInputPollingPeriodMs=250

; -----------------------------------------
; XAxis Driver Flag Settings

[XAxisFlagSignals]
; Mask containing complete set of signals applicable to flags
SignalsMask=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit | PMDSignalStatus::AxisIn | PMDSignalStatus::EncoderHome
; Set of signals which need to be inverted
InvertedSignals=
Flags=XAxisNegativeLimitFlag,XAxisNegativeHalfFlag,XAxisPositiveHalfFlag,XAxisPositiveLimitFlag,XAxisEncoderIndexFlag

[XAxisNegativeLimitFlag]
FlagIndex=0
FlagSignal=PMDSignalStatus::NegativeLimit
IsNegativeLimit=true

[XAxisNegativeHalfFlag]
FlagIndex=1
FlagSignal=!PMDSignalStatus::AxisIn

[XAxisPositiveHalfFlag]
FlagIndex=2
FlagSignal=PMDSignalStatus::AxisIn

[XAxisPositiveLimitFlag]
FlagIndex=3
FlagSignal=PMDSignalStatus::PositiveLimit
IsPositiveLimit=true

[XAxisEncoderIndexFlag]
FlagIndex=4
FlagSignal=PMDSignalStatus::EncoderHome

; -----------------------------------------
; Emulated XAxis Driver Settings

[EmulatedXAxisDriver]
Type=EmulatedAxisDriver
NamedFlagPositions=EmulatedXAxisDriverFlagPositions
NamedFlagExtents=EmulatedXAxisDriverFlagExtents
ScalingFactor=100

[EmulatedXAxisDriverFlagPositions]
; must be the same as Home
0=-50
1=0
2=0
3=50
4=10

[EmulatedXAxisDriverFlagExtents]
0=-50.01
1=-50
2=50
3=50.01
4=10.2

; -----------------------------------------
; XAxis Digital Inputs

; The digital input device is disabled by default. To enable this device so the
; two general purpose inputs can be read, remove 'Disabled' from the device section name

[XAxisDigitalInput_DisabledDevice]
Type=DigitalInputDevice
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDigitalInputDriver
DefaultTimeout_ms=2000

[EmulatedXAxisDigitalInputDriver]
Type=EmulatedDigitalInputDriver
