; ---------------------------------------------------------------------------------
; XAxis

[XAxis_Device]
Type=AxisDevice
ProductType=
DefaultTimeout_ms=45000
MaxTimeout_ms=120000
NamedPositions=XAxisNamedPositions
NamedDistances=XAxisNamedDistances
NamedMoveProfiles=XAxisHomingProfile,XAxisStandardMoveProfile
NamedFlags=XAxisNamedFlags
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDriver

; -----------------------------------------
; XAxis Named Absolute Positions

[XAxisNamedPositions]
Home=0
NegativeLimit=-2.5
PositiveLimit=2.5

; -----------------------------------------
; XAxis Named Relative Distances

[XAxisNamedDistances]
; Used during homing to ensure center flag is always approached from the same direction.
MoveToCenterOffset=-0.5

MaxPositiveHomingDistance=5.1
MaxNegativeHomingDistance=-5.1

; -----------------------------------------
; XAxis Move Profiles

[XAxisHomingProfile]
Velocity=5
Acceleration=200
Deceleration=200
Jerk=25000

[XAxisStandardMoveProfile]
Velocity=100
Acceleration=400
Deceleration=400
Jerk=50000

; -----------------------------------------
; XAxis Flag Settings

[XAxisNamedFlags]
HomeNegativeHalfFlag=0
HomePositiveHalfFlag=1

; -----------------------------------------
; XAxis Driver Settings

[XAxisDriver]
; Selects the communications mechanism: SerialComms or CANComms.
Comms=SerialComms
; Unique Multidrop address for this axis (e.g. 1=XAxis, 2=YAxis, 3=ZAxis,...). Do not use a nodeID of zero as this will address all devices on the CAN bus.
nodeID=3
Type=SmartStageAxisDriver
Config=XAxisDriverConfig
FlagSignals=XAxisFlagSignals

; -----------------------------------------
; XAxis Low level Settings

[XAxisDriverConfig]
NanoMetersPerStep=5
LegCurrentMilliampsPerCount=0.1611
BusCurrentMilliampsPerCount=0.0201
BusVoltageMillivoltsPerCount=0.9672
GpioConfiguration=PMDGpioConfiguration::DISABLED
EStopPeriodicIntervalInMs=50
EStopTimeoutInMs=250
MovePeriodicIntervalInMs=25
IdlePeriodicIntervalInMs=250
StopTimeoutInMs=5000
; Polling period to use for digital inputs when async updates are enabled.
DigitalInputPollingPeriodMs=250

; -----------------------------------------
; XAxis Driver Flag Settings

[XAxisFlagSignals]
; Mask containing complete set of signals applicable to flags
SignalsMask=PMDSignalStatus::EncoderHome
; Set of signals which need to be inverted
InvertedSignals=
Flags=XAxisHomeNegativeHalfFlag,XAxisHomePositiveHalfFlag

[XAxisHomeNegativeHalfFlag]
FlagIndex=0
FlagSignal=PMDSignalStatus::EncoderHome

[XAxisHomePositiveHalfFlag]
FlagIndex=1
FlagSignal=!PMDSignalStatus::EncoderHome

; -----------------------------------------
; Emulated XAxis Driver Settings

[EmulatedXAxisDriver]
Type=EmulatedAxisDriver
NamedFlagPositions=EmulatedXAxisDriverFlagPositions
NamedFlagExtents=EmulatedXAxisDriverFlagExtents
ScalingFactor=100

[EmulatedXAxisDriverFlagPositions]
0=0
1=0.01

[EmulatedXAxisDriverFlagExtents]
0=-5.5
1=5.5

; -----------------------------------------
; XAxis Digital Inputs

; The digital input device is disabled by default. To enable this device so the
; two general purpose inputs can be read, remove 'Disabled' from the device section name

[XAxisDigitalInput_DisabledDevice]
Type=DigitalInputDevice
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDigitalInputDriver
DefaultTimeout_ms=2000

[EmulatedXAxisDigitalInputDriver]
Type=EmulatedDigitalInputDriver

