;   The copyright to the computer program(s) herein is the property of
;   Dover Motion, Inc. This file is subject to the terms and
;   conditions found in the 'DoverLicense.txt' file included with this
;   source code package.

; ---------------------------------------------------------------------------------
; Global settings used by MotionSynergyAPI to configure the system

[Instrument]

; Set the linear units to use for all axis: Millimetres, Micrometres or Nanometres
; WARNING: IF THE UNITS ARE CHANGED ALL DEFAULT VALUES IN THIS FILE WILL NEED TO BE SCALED APPROPRIATELY
LinearUnits=Millimetres

; Script run during initialization
InitializeScript=[SupportFolder]/Scripts/Initialize.lua

; When using real hardware, set the value to blank: EmulatedDevices=
; To emulate a single axis, specify the axis name:  EmulatedDevices=YAxis
; To emulate all axis, set the value to all:        EmulatedDevices=All
EmulatedDevices=

; ---------------------------------------------------------------------------------
; Communication Links

; ---------------------------------------------------------------------------------
; Products

; ---------------------------------------------------------------------------------
; Trace Capture Profiles (Plotting)
