; ---------------------------------------------------------------------------------
; Serial Communications Link

[SerialComms]
TransportType=SERIAL
TransportOptions=SerialCommsOptions

[SerialCommsOptions]
; Select the COM port to use (e.g COM1, COM2, etc for Windows and /dev/ttyUSB0, /dev/ttyUSB1, ... on Linux)
hwid=COM1

; Selects the communications protocol: Point2Point or MultiDropUsingIdleLineDetection.
protocol=MultiDropUsingIdleLineDetection

; Baud Rate to use (1200,2400,9600,19200,57600,115200)
baudrate=57600

; Stop bits (ONESTOPBIT, ONE5STOPBITS,TWOSTOPBITS)
stop=ONESTOPBIT

;Parity of serial (NOPARITY, ODDPARITY, EVENPARITY, MARKPARITY, SPACEPARITY)
parity=NOPARITY

; Timeout in milliseconds before a communications error is reported.
timeout=250
