;   The copyright to the computer program(s) herein is the property of
;   Dover Motion, Inc. This file is subject to the terms and
;   conditions found in the 'DoverLicense.txt' file included with this
;   source code package.

; ---------------------------------------------------------------------------------
; Global settings used by MotionSynergyAPI to configure the system

[Instrument]

; Set the linear units to use for all axis: Millimetres, Micrometres or Nanometres
; WARNING: IF THE UNITS ARE CHANGED ALL DEFAULT VALUES IN THIS FILE WILL NEED TO BE SCALED APPROPRIATELY
LinearUnits=Millimetres

; Script run during initialization
InitializeScript=[SupportFolder]/Scripts/Initialize.lua

; When using real hardware, set the value to blank: EmulatedDevices=
; To emulate a single axis, specify the axis name:  EmulatedDevices=YAxis
; To emulate all axis, set the value to all:        EmulatedDevices=All
EmulatedDevices=XAxis,YAxis

; ---------------------------------------------------------------------------------
; Communication Links

; ---------------------------------------------------------------------------------
; CAN Communications Link

[CANComms]
TransportType=CAN
TransportOptions=CANCommsOptions

[CANCommsOptions]
; Baud Rate to use, where 0 = 1 Mbit/s,
; 1=800Kbit/s, 2=500Kbit/s, 3=250Kbit/s, 4=125Kbit/s, 5=50Kbit/s,6=20Kbit/s, 7=10Kbit/s
baudrate=0
; Timeout in milliseconds before a communications error is reported.
timeout=100
; hwid can be used to select a specific IXXAT adapter when there is more than one adapter connected.
; If 'hwid' is not specified (e.g. commented out as below), the first IXAAT adapter found will be used.
; hwid=HWnnnnnn

; ---------------------------------------------------------------------------------
; Products

; ---------------------------------------------------------------------------------
; XAxis

[XAxis_Device]
Type=AxisDevice
ProductType=SmartStageXY
DefaultTimeout_ms=45000
MaxTimeout_ms=120000
NamedPositions=XAxisNamedPositions
NamedDistances=XAxisNamedDistances
NamedMoveProfiles=XAxisHomingProfile,XAxisStandardMoveProfile
NamedFlags=XAxisNamedFlags
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDriver

; -----------------------------------------
; XAxis Named Absolute Positions

[XAxisNamedPositions]
; These named positions are for a stage with home in the center.
Home=0

; Default limits are for a 100mm stage.
; These limits may be updated during the first time startup to suit a different stage.
NegativeLimit=-50
PositiveLimit=50

; -----------------------------------------
; XAxis Named Relative Distances

[XAxisNamedDistances]
; These named distances are for a stage with >= 50mm travel.

; Used during homing to ensure center flag is always approached from the same direction.
MoveToCenterOffset=-10

OffLimitMove=5
NegativeLimitOffset=1
PositiveLimitOffset=-1

; Default homing distances are for a 100mm stage.
; These distances may be updated during the first time startup to suit a different stage.
MaxPositiveHomingDistance=102
MaxNegativeHomingDistance=-102

; -----------------------------------------
; XAxis Move Profiles

[XAxisHomingProfile]
Velocity=5
Acceleration=200
Deceleration=200
Jerk=25000

[XAxisStandardMoveProfile]
Velocity=100
Acceleration=400
Deceleration=400
Jerk=50000

; -----------------------------------------
; XAxis Flag Settings

[XAxisNamedFlags]
; A list of named flags and their associated FlagIndex
NegativeLimit=0
NegativeHalf=1
PositiveHalf=2
PositiveLimit=3

; -----------------------------------------
; XAxis Driver Settings

[XAxisDriver]
; Selects the communications mechanism: SerialComms or CANComms.
Comms=CANComms
; Unique Multidrop address for this axis (e.g. 1=XAxis, 2=YAxis, 3=ZAxis,...). Do not use a nodeID of zero as this will address all devices on the CAN bus.
nodeID=1
Type=SmartStageAxisDriver
Config=XAxisDriverConfig
FlagSignals=XAxisFlagSignals
CommutationConfig=XAxisDirectSetCommutation

[XAxisDirectSetCommutation]
; When DirectSetCommutationEnabled is true, DirectSetCommutation is performed instead of algorithmic commutation.
StepDirectSetPhaseInitializationEnabled=false
; PhaseAngle to use when at half travel vane during DirectSetCommutation. The PhaseAngle is unique to a stage
PhaseAngle=676
; MaxMotorCurrentPercent is used during DirectSetCommutation to set the max motor output. The MaxMotorCurrentPercent
; is limited to 50% in software.
MaxMotorCurrentPercent=18.31

; -----------------------------------------
; XAxis Low level Settings

[XAxisDriverConfig]
NanoMetersPerStep=5
LegCurrentMilliampsPerCount=0.611
BusCurrentMilliampsPerCount=0.0775
BusVoltageMillivoltsPerCount=0.9672
; GpioConfiguration - set to PMDGpioConfiguration::S1 when using External Control, or when this axis is the driven upper axis for a Master-Driven axis pair.
; GpioConfiguration - set to PMDGpioConfiguration::S2 when using Trigger on Position (TOP) or Digital Output Trigger
; GpioConfiguration - set to PMDGpioConfiguration::S3 when using I/O 1 and I/O2 as general purpose inputs, or when this axis is the driven upper axis for a Master-Driven axis pair.
; GpioConfiguration - set to PMDGpioConfiguration::S4 when using I/O 1 only as a general purpose input
; GpioConfiguration - set to PMDGpioConfiguration::S5 when the axis is the master lower axis for a Master-Driven axis pair.
; GpioConfiguration - set to PMDGpioConfiguration::S6 when the axis is the driven lower axis for a Master-Driven axis pair.
; GpioConfiguration - set to PMDGpioConfiguration::S7 when the axis is the master upper axis for a Master-Driven axis pair.
GpioConfiguration=PMDGpioConfiguration::S2
EStopPeriodicIntervalInMs=50
EStopTimeoutInMs=250
MovePeriodicIntervalInMs=25
IdlePeriodicIntervalInMs=250
StopTimeoutInMs=5000
; Polling period to use for digital inputs when async updates are enabled.
DigitalInputPollingPeriodMs=250

; -----------------------------------------
; XAxis Driver Flag Settings

[XAxisFlagSignals]
; Mask containing complete set of signals applicable to flags
SignalsMask=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit | PMDSignalStatus::AxisIn
; Set of signals which need the polarity inverted
InvertedSignals=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit
; A list of flags to configure
Flags=XAxisNegativeLimitFlag,XAxisNegativeHalfFlag,XAxisPositiveHalfFlag,XAxisPositiveLimitFlag

; Configuration section for the NegativeLimit flag
[XAxisNegativeLimitFlag]
; Flag index for this flag.
FlagIndex=0
; The PMD SignalStatus bit indicating the axis is in this flag.
FlagSignal=PMDSignalStatus::NegativeLimit
; Indicates this flag corresponds to the negative limit switch
IsNegativeLimit=true

[XAxisNegativeHalfFlag]
FlagIndex=1
; Note the ! indicates this flag will be true whenever the AxisIn signal is NOT high.
FlagSignal=!PMDSignalStatus::AxisIn

[XAxisPositiveHalfFlag]
FlagIndex=2
FlagSignal=PMDSignalStatus::AxisIn

[XAxisPositiveLimitFlag]
FlagIndex=3
FlagSignal=PMDSignalStatus::PositiveLimit
; Indicates this flag corresponds to the positive limit switch
IsPositiveLimit=true

; -----------------------------------------
; Emulated XAxis Driver Settings

[EmulatedXAxisDriver]
Type=EmulatedAxisDriver
NamedFlagPositions=EmulatedXAxisDriverFlagPositions
NamedFlagExtents=EmulatedXAxisDriverFlagExtents
ScalingFactor=100

[EmulatedXAxisDriverFlagPositions]
0=-50
1=0
2=0.01
3=50

[EmulatedXAxisDriverFlagExtents]
0=-50.01
1=-50
2=49.99
3=50.01

; -----------------------------------------
; XAxis Digital Inputs

; Digital input devices are disabled by default. To enable a device so the
; two general purpose inputs can be read, remove 'Disabled' from the device section names
; You must also set the XAxisDriverConfig.GpioConfiguration to PMDGpioConfiguration::S3 or PMDGpioConfiguration::S4

[XAxisDigitalInput_DisabledDevice]
Type=DigitalInputDevice
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDigitalInputDriver
DefaultTimeout_ms=2000

[EmulatedXAxisDigitalInputDriver]
Type=EmulatedDigitalInputDriver


; ---------------------------------------------------------------------------------
; YAxis

[YAxis_Device]
Type=AxisDevice
ProductType=SmartStageXY
DefaultTimeout_ms=45000
MaxTimeout_ms=120000
NamedPositions=YAxisNamedPositions
NamedDistances=YAxisNamedDistances
NamedMoveProfiles=YAxisHomingProfile,YAxisStandardMoveProfile
NamedFlags=YAxisNamedFlags
Driver=YAxisDriver
EmulatedDriver=EmulatedYAxisDriver

; -----------------------------------------
; YAxis Named Absolute Positions

[YAxisNamedPositions]
; These named positions are for a stage with home in the center.
Home=0

; Default limits are for a 100mm stage.
; These limits may be updated during the first time startup to suit a different stage.
NegativeLimit=-100
PositiveLimit=100

; -----------------------------------------
; YAxis Named Relative Distances

[YAxisNamedDistances]
; These named distances are for a stage with >= 50mm travel.

; Used during homing to ensure center flag is always approached from the same direction.
MoveToCenterOffset=-10

OffLimitMove=5
NegativeLimitOffset=1
PositiveLimitOffset=-1

; Default homing distances are for a 100mm stage.
; These distances may be updated during the first time startup to suit a different stage.
MaxPositiveHomingDistance=202
MaxNegativeHomingDistance=-202

; -----------------------------------------
; YAxis Move Profiles

[YAxisHomingProfile]
Velocity=5
Acceleration=200
Deceleration=200
Jerk=25000

[YAxisStandardMoveProfile]
Velocity=100
Acceleration=400
Deceleration=400
Jerk=50000

; -----------------------------------------
; YAxis Flag Settings

[YAxisNamedFlags]
; A list of named flags and their associated FlagIndex
NegativeLimit=0
NegativeHalf=1
PositiveHalf=2
PositiveLimit=3

; -----------------------------------------
; YAxis Driver Settings

[YAxisDriver]
; Selects the communications mechanism: SerialComms or CANComms.
Comms=CANComms
; Unique Multidrop address for this axis (e.g. 1=YAxis, 2=YAxis, 3=ZAxis,...). Do not use a nodeID of zero as this will address all devices on the CAN bus.
nodeID=2
Type=SmartStageAxisDriver
Config=YAxisDriverConfig
FlagSignals=YAxisFlagSignals
CommutationConfig=YAxisDirectSetCommutation

[YAxisDirectSetCommutation]
; When DirectSetCommutationEnabled is true, DirectSetCommutation is performed instead of algorithmic commutation.
StepDirectSetPhaseInitializationEnabled=false
; PhaseAngle to use when at half travel vane during DirectSetCommutation. The PhaseAngle is unique to a stage
PhaseAngle=676
; MaxMotorCurrentPercent is used during DirectSetCommutation to set the max motor output. The MaxMotorCurrentPercent
; is limited to 50% in software.
MaxMotorCurrentPercent=18.31

; -----------------------------------------
; YAxis Low level Settings

[YAxisDriverConfig]
NanoMetersPerStep=5
LegCurrentMilliampsPerCount=0.611
BusCurrentMilliampsPerCount=0.0775
BusVoltageMillivoltsPerCount=0.9672
; GpioConfiguration - set to PMDGpioConfiguration::S1 when using External Control
; GpioConfiguration - set to PMDGpioConfiguration::S2 when using Trigger on Position (TOP) or Digital Output Trigger
; GpioConfiguration - set to PMDGpioConfiguration::S3 when using I/O 1 and I/O2 as general purpose inputs
; GpioConfiguration - set to PMDGpioConfiguration::S4 when using I/O 1 only as a general purpose input
GpioConfiguration=PMDGpioConfiguration::S2
EStopPeriodicIntervalInMs=50
EStopTimeoutInMs=250
MovePeriodicIntervalInMs=25
IdlePeriodicIntervalInMs=250
StopTimeoutInMs=5000
; Polling period to use for digital inputs when async updates are enabled.
DigitalInputPollingPeriodMs=250

; -----------------------------------------
; YAxis Driver Flag Settings

[YAxisFlagSignals]
; Mask containing complete set of signals applicable to flags
SignalsMask=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit | PMDSignalStatus::AxisIn
; Set of signals which need the polarity inverted
InvertedSignals=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit
; A list of flags to configure
Flags=YAxisNegativeLimitFlag,YAxisNegativeHalfFlag,YAxisPositiveHalfFlag,YAxisPositiveLimitFlag

; Configuration section for the NegativeLimit flag
[YAxisNegativeLimitFlag]
; Flag index for this flag.
FlagIndex=0
; The PMD SignalStatus bit indicating the axis is in this flag.
FlagSignal=PMDSignalStatus::NegativeLimit
; Indicates this flag corresponds to the negative limit switch
IsNegativeLimit=true

[YAxisNegativeHalfFlag]
FlagIndex=1
; Note the ! indicates this flag will be true whenever the AxisIn signal is NOT high.
FlagSignal=!PMDSignalStatus::AxisIn

[YAxisPositiveHalfFlag]
FlagIndex=2
FlagSignal=PMDSignalStatus::AxisIn

[YAxisPositiveLimitFlag]
FlagIndex=3
FlagSignal=PMDSignalStatus::PositiveLimit
; Indicates this flag corresponds to the positive limit switch
IsPositiveLimit=true

; -----------------------------------------
; Emulated YAxis Driver Settings

[EmulatedYAxisDriver]
Type=EmulatedAxisDriver
NamedFlagPositions=EmulatedYAxisDriverFlagPositions
NamedFlagExtents=EmulatedYAxisDriverFlagExtents
ScalingFactor=100

[EmulatedYAxisDriverFlagPositions]
0=-100
1=0
2=0.01
3=100

[EmulatedYAxisDriverFlagExtents]
0=-100.01
1=-100
2=99.99
3=100.01

; -----------------------------------------
; YAxis Digital Inputs

; Digital input devices are disabled by default. To enable a device so the
; two general purpose inputs can be read, remove 'Disabled' from the device section names
; You must also set the YAxisDriverConfig.GpioConfiguration to PMDGpioConfiguration::S3 or PMDGpioConfiguration::S4

[YAxisDigitalInput_DisabledDevice]
Type=DigitalInputDevice
Driver=YAxisDriver
EmulatedDriver=EmulatedYAxisDigitalInputDriver
DefaultTimeout_ms=2000

[EmulatedYAxisDigitalInputDriver]
Type=EmulatedDigitalInputDriver



; ---------------------------------------------------------------------------------
; Trace Capture Profiles (Plotting)

; Trace sample rate = Period * 51.2 usec.
; The Period is expressed in chip cycles. Each chip cycle is 51.2 micro-seconds.
; Default trace period of 10 captures data every 512 micro-seconds.

[MoveTraceProfile]
Period=10
Variable1=CommandedVelocity
Variable2=PositionError
Variable3=PhaseAActualCurrent

[VelocityTraceProfile]
Period=10
Variable1=ActualVelocity

[PositionErrorTraceProfile]
Period=10
Variable1=PositionError

[CommandedVelocityTraceProfile]
Period=10
Variable1=CommandedVelocity

[VelAndPositionErrorTraceProfile]
Period=10
Variable1=CommandedVelocity
Variable2=PositionError

[FullTraceProfile]
Period=10
Variable1=CommandedVelocity
Variable2=PositionError
Variable3=CommandedPosition
Variable4=CommandedAcceleration

[TOPTraceProfile]
Period=4
Variable1=ActualPosition
Variable2=SignalStatus_Gate
Variable3=SignalStatus_Trigger
