; ---------------------------------------------------------------------------------
; XAxis

[XAxis_Device]
Type=AxisDevice
ProductType=
DefaultTimeout_ms=45000
MaxTimeout_ms=120000
NamedPositions=XAxisNamedPositions
NamedDistances=XAxisNamedDistances
NamedMoveProfiles=XAxisHomingProfile,XAxisStandardMoveProfile
NamedFlags=XAxisNamedFlags
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDriver

; -----------------------------------------
; XAxis Named Absolute Positions

[XAxisNamedPositions]
; These named positions are for a stage with home in the center.
Home=0

; Default limits are for a 100mm stage.
; These limits may be updated during the first time startup to suit a different stage.
NegativeLimit=-50
PositiveLimit=50

; -----------------------------------------
; XAxis Named Relative Distances

[XAxisNamedDistances]
; These named distances are for a stage with >= 50mm travel.

; Used during homing to ensure center flag is always approached from the same direction.
MoveToCenterOffset=-10

OffLimitMove=5
NegativeLimitOffset=1
PositiveLimitOffset=-1

; Default homing distances are for a 100mm stage.
; These distances may be updated during the first time startup to suit a different stage.
MaxPositiveHomingDistance=102
MaxNegativeHomingDistance=-102

; -----------------------------------------
; XAxis Move Profiles

[XAxisHomingProfile]
Velocity=5
Acceleration=200
Deceleration=200
Jerk=25000

[XAxisStandardMoveProfile]
Velocity=100
Acceleration=400
Deceleration=400
Jerk=50000

; -----------------------------------------
; XAxis Flag Settings

[XAxisNamedFlags]
; A list of named flags and their associated FlagIndex
NegativeLimit=0
NegativeHalf=1
PositiveHalf=2
PositiveLimit=3

; -----------------------------------------
; XAxis Driver Settings

[XAxisDriver]
; Selects the communications mechanism: SerialComms or CANComms.
Comms=SerialComms
; Unique Multidrop address for this axis (e.g. 1=XAxis, 2=YAxis, 3=ZAxis,...). Do not use a nodeID of zero as this will address all devices on the CAN bus.
nodeID=1
Type=SmartStageAxisDriver
Config=XAxisDriverConfig
FlagSignals=XAxisFlagSignals
CommutationConfig=XAxisCommutation

[XAxisCommutation]
; When DirectSetCommutationEnabled is true, DirectSetCommutation is performed instead of algorithmic commutation.
StepDirectSetPhaseInitializationEnabled=false
; PhaseAngle to use when at half travel vane during DirectSetCommutation. The PhaseAngle is unique to a stage
PhaseAngle=676
; MaxMotorCurrentPercent is used during Commutation to set the max motor output. The MaxMotorCurrentPercent
; is limited to 50% in software.
MaxMotorCurrentPercent=25
; Initial Fast Velocity to find half travel vane. 
Velocity1=10.0 
; Velocity to offset away from half travel vane. 
Velocity2=10.0 
; Offset away from half travel vane after fast move 
MoveOffset=-2.0 
; Slow Velocity for final approach from offset back to half travel vane. 
Velocity3=2.0 
; Acceleration during direct set commutation. 
Acceleration=100.0

; -----------------------------------------
; XAxis Low level Settings

[XAxisDriverConfig]
NanoMetersPerStep=5
LegCurrentMilliampsPerCount=0.611
BusCurrentMilliampsPerCount=0.0775
BusVoltageMillivoltsPerCount=0.9672
; GpioConfiguration - set to PMDGpioConfiguration::S1 when using External Control, or when this axis is the driven axis for a Master-Driven axis pair.
; GpioConfiguration - set to PMDGpioConfiguration::S2 when using Trigger on Position (TOP) or Digital Output Trigger
; GpioConfiguration - set to PMDGpioConfiguration::S3 when using I/O 1 and I/O2 as general purpose inputs, or when this axis is the driven axis for a Master-Driven axis pair.
; GpioConfiguration - set to PMDGpioConfiguration::S4 when using I/O 1 only as a general purpose input
; GpioConfiguration - set to PMDGpioConfiguration::S5 when the axis is the master for a Master-Driven axis pair.
GpioConfiguration=PMDGpioConfiguration::S2
EStopPeriodicIntervalInMs=50
EStopTimeoutInMs=250
MovePeriodicIntervalInMs=25
IdlePeriodicIntervalInMs=250
StopTimeoutInMs=5000
; Polling period to use for digital inputs when async updates are enabled.
DigitalInputPollingPeriodMs=250

; -----------------------------------------
; XAxis Driver Flag Settings

[XAxisFlagSignals]
; Mask containing complete set of signals applicable to flags
SignalsMask=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit | PMDSignalStatus::AxisIn
; Set of signals which need the polarity inverted
InvertedSignals=PMDSignalStatus::PositiveLimit | PMDSignalStatus::NegativeLimit
; A list of flags to configure
Flags=XAxisNegativeLimitFlag,XAxisNegativeHalfFlag,XAxisPositiveHalfFlag,XAxisPositiveLimitFlag

; Configuration section for the NegativeLimit flag
[XAxisNegativeLimitFlag]
; Flag index for this flag.
FlagIndex=0
; The PMD SignalStatus bit indicating the axis is in this flag.
FlagSignal=PMDSignalStatus::NegativeLimit
; Indicates this flag corresponds to the negative limit switch
IsNegativeLimit=true

[XAxisNegativeHalfFlag]
FlagIndex=1
; Note the ! indicates this flag will be true whenever the AxisIn signal is NOT high.
FlagSignal=!PMDSignalStatus::AxisIn

[XAxisPositiveHalfFlag]
FlagIndex=2
FlagSignal=PMDSignalStatus::AxisIn

[XAxisPositiveLimitFlag]
FlagIndex=3
FlagSignal=PMDSignalStatus::PositiveLimit
; Indicates this flag corresponds to the positive limit switch
IsPositiveLimit=true

; -----------------------------------------
; Emulated XAxis Driver Settings

[EmulatedXAxisDriver]
Type=EmulatedAxisDriver
NamedFlagPositions=EmulatedXAxisDriverFlagPositions
NamedFlagExtents=EmulatedXAxisDriverFlagExtents
ScalingFactor=100

[EmulatedXAxisDriverFlagPositions]
0=-50
1=0
2=0.01
3=50

[EmulatedXAxisDriverFlagExtents]
0=-50.01
1=-50
2=50
3=50.01

; -----------------------------------------
; XAxis Digital Inputs

; Digital input devices are disabled by default. To enable a device so the
; two general purpose inputs can be read, remove 'Disabled' from the device section names
; You must also set the XAxisDriverConfig.GpioConfiguration to PMDGpioConfiguration::S3 or PMDGpioConfiguration::S4

[XAxisDigitalInput_DisabledDevice]
Type=DigitalInputDevice
Driver=XAxisDriver
EmulatedDriver=EmulatedXAxisDigitalInputDriver
DefaultTimeout_ms=2000

[EmulatedXAxisDigitalInputDriver]
Type=EmulatedDigitalInputDriver
