; Trace sample rate = Period * 51.2 usec.
; The Period is expressed in chip cycles. Each chip cycle is 51.2 micro-seconds.
; Default trace period of 10 captures data every 512 micro-seconds.

[MoveTraceProfile]
Period=10
Variable1=CommandedVelocity
Variable2=PositionError
Variable3=PhaseAActualCurrent

[VelocityTraceProfile]
Period=10
Variable1=ActualVelocity

[PositionErrorTraceProfile]
Period=10
Variable1=PositionError

[CommandedVelocityTraceProfile]
Period=10
Variable1=CommandedVelocity

[VelAndPositionErrorTraceProfile]
Period=10
Variable1=CommandedVelocity
Variable2=PositionError

[FullTraceProfile]
Period=10
Variable1=CommandedVelocity
Variable2=PositionError
Variable3=CommandedPosition
Variable4=CommandedAcceleration

[TOPTraceProfile]
Period=4
Variable1=ActualPosition
Variable2=SignalStatus_Gate
Variable3=SignalStatus_Trigger
