; -----------------------------------------
; Example User Defined Move Profiles (UDP)

[XAxisUDPSinProfile]
; Sine Wave UDP Profile (requires a travel length of at least -11mm to 23mm, i.e. not suitable for a DOF-5)
; Starts at position zero, moves to ~22mm, moves back to ~ -10mm and finishes at 10mm
; Duration of the move is 10 seconds.
; If the move is repeated, it will have a 10mm positive offset for each repeat
; (i.e. a MoveRelativeUDP(3) will perform 3 cycles and finish at 30mm).
; Note that only rate scalar greater than 0 is supported.
UDPMode=Time
UDPInputStreamFile=[SupportFolder]/UDP_SIN_10s_0_22_-10_10mm.csv
RateScalar=1.0

[ZAxisUDPSinProfile]
; Sine Wave UDP Profile (requires a travel length of at least -1.1mm to 2.3mm, i.e. suitable for a DOF-5)
; Starts at position zero, moves to ~2.2mm, moves back to ~ -1mm and finishes at 1mm
; Duration of the move is 10 seconds.
; If the move is repeated, it will have a 1mm positive offset for each repeat
; Do not perform repeat moves using this profile on a DOF-5 otherwise it will exceed the travel length.
; (i.e. only perform a MoveRelativeUDP(1) ).
; Note that only rate scalar greater than 0 is supported.
UDPMode=Time
UDPInputStreamFile=[SupportFolder]/UDP_SIN_10s_0_2_-1_1mm.csv
RateScalar=1.0

[YAxisDrivenProfile]
; Master - Driven axis UDP Profile (requires two axes, each with a travel length of at least 20mm)
; When the master axis moves from 0mm to 20mm, the driven axis will also move from 0mm to 20mm
; Note that for a SmartStageXY, the master axis GPIO configuration should be set to GpioConfiguration=PMDGpioConfiguration::S5
; and the driven axis GPIO configuration should be set to GpioConfiguration=PMDGpioConfiguration::S1.
UDPMode=Encoder
UDPInputStreamFile=[SupportFolder]/UDP_MasterDriven0_5mm.csv
RateScalar=1.0
